{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - La boutique Française{% endblock %}

{% block content %}
<div class="block-small">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Réinitialisez votre mot de passe</h1>
        <label for="inputEmail">Votre email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-block btn-info mt-2" type="submit">
            Valider
        </button>
        <hr>
        <p class="text-center">Ou souhaitez-vous <a href="{{ path('app_login') }}">vous connecter</a> ?</p>
    </form>
</div>
{% endblock %}
