{% extends 'base.html.twig' %}

{% block title %}Nous contacter - SF E-commerce{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="cold-md-4 ml-4">
            <strong>SF E-commerce</strong>
            <hr>
            0606060606 <br>
            6 Rue ****, 13002 Marseille <br>
            web-dev@es-wd.com
        </div>
    </div>
{% endblock %}
