{% extends 'base.html.twig' %}

{% block title %}Page introuvable - SF E-commerce{% endblock %}

{% block content %}
<div class="block-small">
    <h2>Page introuvable</h2>
    <p>Désolé cette page n'est pas accessible pour le moment</p>
    <a href="{{ path('home') }}" class="btn btn-info">Revenir vers l'accueil</a>
</div>
{% endblock %}
